{% extends 'base.html' %} {% block content %} <!--lo que hace es que el contenido que se tiene se mande a base-->

<div class="container">
  <main class="container py-5">
    <section class="card card-body">
      <h1 class="col-md-4 offset-md-5 mt-4">Home</h1> 
        <div class="d-flex">
          <a class="btn btn-secondary col-md-4 offset-md-1 mt-4 " href="/signin/">
              Iniciar sesión
          </a>
          <a class="btn btn-primary col-md-4 offset-md-1 mt-4" href="/signup/">
              Registrarse
          </a>
        </div>
    </section>
  </main>
 
</div>


{% endblock %}
